%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    &:hover{
        transform: scale(.98);
        cursor: pointer;
    }
}


.btns-primary{
    @extend %btn;
    @include set-background(lighten($primary-color,10%));
}
.btns-secondary{
    @extend %btn;
    @include set-background($secondary-color) ;   
}
