@media(max-width: 700px){
    .top-section{
        nav{
            h1{
                margin-top: 20px;
                font-size: 20px;
            }
            ul{
                display: none;
            }
            a{
                margin-right: 30px;
               
            }
            div{
                margin-top: 13px;
            }
        }

        &-content{
            display: inline-block;
            text-align: center;
            h1{
                font-size: 30px;
            }

            img{
                width: 100%;
            }
        }
    }
}